body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    margin: 0;
    padding: 0;
    background-image: url("https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?cs=srgb&dl=pexels-pixabay-531880.jpg&fm=jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%
}
h1 {
    color: #111ff0;
    text-align: center;
    margin-top: 30px;
}
img {
    display: block;
    margin: 0 auto;
    border-radius: 5%;
    box-shadow: 0 0 80px rgba(0, 0, 0, 0.5);
}
p {
    text-align: center;
    margin-top: 30px;
    font-style: italic;
    color: #c71111;
}
button {
    background-color: #4e24e4;
    color: rgb(0, 0, 0);
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: fl;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}
button:hover {
    background-color: #ff0000;
}