* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: #f0f2f5;
    color: #333;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.header {
    background: #333;
    color: #fff;
    padding: 1.5rem 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: background 0.3s ease;
}

.header-title {
    text-align: center;
    font-size: 2.8rem;
    margin-bottom: 0.5rem;
    color: #ffffff;
    transition: color 0.3s ease;
}

.nav ul {
    list-style: none;
    text-align: center;
}

.nav ul li {
    display: inline;
    margin: 0 15px;
}

.nav ul li a {
    color: #f8f9fa;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease, transform 0.3s ease;
}

.nav ul li a:hover {
    color: #51ff0c;
    transform: scale(1.1);
}

.section {
    padding: 6rem 0 4rem;
    margin-top: 4rem;
}

.section-title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    margin: auto;
    color: #333;
    animation: fadeIn 1s ease-out;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
}

.section-content {
    animation: fadeInUp 1s ease-out;
    color: #000000;
}


.projects .project {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.projects .project:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.fb-video {
    width: 100%;
    border-radius: 8px;
}


.footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.2);
}


/* Responsive Design */
@media (max-width: 768px) {
    .header-title {
        font-size: 2rem;
    }

    .project iframe {
        height: 200px;
    }
}

/* Responsive Design */
@media (max-width: 1200px) {
    .header-title {
        font-size: 2.5rem;
    }
}

@media (max-width: 992px) {
    .header-title {
        font-size: 2.2rem;
    }
    
    .nav ul li {
        display: block;
        margin: 10px 0;
    }

    .section {
        padding: 4rem 0 2rem;
    }

    .section-title {
        font-size: 2rem;
    }

    .projects .project {
        width: 90%;
    }
    .photo {
        margin-left: -350px;
    }

}

@media (max-width: 768px) {
    .header-title {
        font-size: 2rem;
    }

    .projects .project {
        width: 100%;
        padding: 0.5rem;
    }

    .fb-video {
        height: 200px;
    }
}

@media (max-width: 576px) {
    .header-title {
        font-size: 1.8rem;
    }
    
    .section-title {
        font-size: 1.8rem;
    }

    .nav ul li {
        margin: 5px 0;
    }
    
    .fb-video {
        height: 150px;
    }
}

@media (max-width: 600px) {

    .about {
        margin-top: 90px;
    }
}


/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}